# ==========================================
# Python & Virtual Environments
# ==========================================
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# ==========================================
# Data Directories (Ignore local datasets)
# ==========================================
data/raw/*


# ==========================================
# Project Logs & Pipeline Metadata
# ==========================================
logs/
*.log

